## Import Important libraries

In [49]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score

## Import CSV File

In [50]:
spam = pd.read_csv("spam.csv", encoding="latin1")
spam.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [51]:
spam.shape

(5572, 5)

In [52]:
spam.count

<bound method DataFrame.count of         v1                                                 v2 Unnamed: 2  \
0      ham  Go until jurong point, crazy.. Available only ...        NaN
1      ham                      Ok lar... Joking wif u oni...        NaN
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...        NaN
3      ham  U dun say so early hor... U c already then say...        NaN
4      ham  Nah I don't think he goes to usf, he lives aro...        NaN
...    ...                                                ...        ...
5567  spam  This is the 2nd time we have tried 2 contact u...        NaN
5568   ham              Will ÃŒ_ b going to esplanade fr home?        NaN
5569   ham  Pity, * was in mood for that. So...any other s...        NaN
5570   ham  The guy did some bitching but I acted like i'd...        NaN
5571   ham                         Rofl. Its true to its name        NaN

     Unnamed: 3 Unnamed: 4
0           NaN        NaN
1           NaN        NaN
2           NaN        NaN
3           NaN        NaN
4           NaN        NaN
...         ...        ...
5567        NaN        NaN
5568        NaN        NaN
5569        NaN        NaN
5570        NaN        NaN
5571        NaN        NaN

[5572 rows x 5 columns]>

In [53]:
car.isnull().sum()

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [54]:
deleteCol = ['Unnamed: 3' , 'Unnamed: 4', 'Unnamed: 2']

In [55]:
spam1 = spam.drop(deleteCol,axis = 1)

In [56]:
spam1.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

## split the dataset into features and label

In [57]:
X = spam1['v2']
y = spam1['v1']

In [58]:
X.head()

0    Go until jurong point, crazy.. Available only ...
1                        Ok lar... Joking wif u oni...
2    Free entry in 2 a wkly comp to win FA Cup fina...
3    U dun say so early hor... U c already then say...
4    Nah I don't think he goes to usf, he lives aro...
Name: v2, dtype: object

In [59]:
y.head()

0     ham
1     ham
2    spam
3     ham
4     ham
Name: v1, dtype: object

## Split the data into training and testing sets

In [60]:
from sklearn.model_selection import train_test_split

In [61]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2, random_state = 10)

## Vectorize the text data

In [62]:
vectorizer = CountVectorizer()
X_train_vec = vectorizer.fit_transform(X_train)
X_test_vec = vectorizer.transform(X_test)

## Train a Naive Bayes classifier

In [63]:
classifier = MultinomialNB()
classifier.fit(X_train_vec, y_train)

MultinomialNB()

## Make predictions on the test set

In [64]:
predictions = classifier.predict(X_test_vec)

## Evaluate the accuracy of the classifier

In [65]:
accuracy = accuracy_score(y_test, predictions)
print("Accuracy:", accuracy)

Accuracy: 0.9883408071748879

## Define a function to classify email as spam or not

In [66]:
def classify_email(email):
    # Vectorize the input email
    email_vec = vectorizer.transform([email])
    
    # Make a prediction
    prediction = classifier.predict(email_vec)
    
    # Return the predicted label
    return prediction[0]

## Example usage

In [69]:
input_email = '''
Subject: Exclusive offer: Get 50% off on all products!

Dear Customer,

We are excited to offer you an exclusive discount of 50% on all our products. This is a limited-time offer, so make sure to take advantage of it now!

Our wide range of products includes luxury watches, designer handbags, electronic gadgets, and much more. With our discounted prices, you can indulge in your favorite brands without breaking the bank.

To claim your discount, simply click on the link below and enter the promo code "SALE50" during checkout:

[Link to the website]

Hurry up and shop now to enjoy this incredible deal. Don't miss out on this opportunity to save big!

Best regards,
The Sales Team
'''
result = classify_email(input_email)
print("Input Email:", input_email)
print("Classification Result:", result)

Input Email:
Subject: Exclusive offer: Get 50% off on all products!

Dear Customer,

We are excited to offer you an exclusive discount of 50% on all our products. This is a limited-time offer, so make sure to take advantage of it now!

Our wide range of products includes luxury watches, designer handbags, electronic gadgets, and much more. With our discounted prices, you can indulge in your favorite brands without breaking the bank.

To claim your discount, simply click on the link below and enter the promo code "SALE50" during checkout:

[Link to the website]

Hurry up and shop now to enjoy this incredible deal. Don't miss out on this opportunity to save big!

Best regards,
The Sales Team


Classification Result: spam

In [70]:
input_email = "Get rich quick! Guaranteed money in just 7 days!"
result = classify_email(input_email)
print("Input Email:", input_email)
print("Classification Result:", result)

Input Email: Get rich quick! Guaranteed money in just 7 days!
Classification Result: ham